* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

body{
  background-color: #16171d;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.dashboard { 
  text-align: center;
  padding: 20px;
}

.stats {
  margin: 20px 0;
}

.meal-cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  background-color: gold;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.input {
  background-color: #2e303a;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: white;
  outline: none;
}

.meal-card {
  background-color: #2e303a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 120px;
}